<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Admin Home</title>
</head>
<body>
<!--Navigation Menu-->
    <div class="navigation">
        <ul>
            <li class="list">
                <b></b>
                <b></b>
                <div class="menu-btn">
                    <span class="icon toggle" title="Menu">
                        <i class="uil uil-bars icona open"></i>
                        <i class="uil uil-multiply icona close"></i>
                    </span>
                </div>
            </li>
            <li class="list active">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon" title="Home"><i class="uil uil-estate icona"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#Chef">
                    <span class="icon" title="Chef"><i class="uil uil-user icona"></i></ion-icon></span>
                    <span class="title">Chef</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#Buffet">
                    <span class="icon" title="Buffet"><i class="uil uil-clipboard-notes icona"></i></span>
                    <span class="title">Buffet</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon" title="Piatti"><i class="uil uil-crockery icona"></i></span>
                    <span class="title">Piatti</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon" title="Ingredienti"><i class="uil uil-pizza-slice icona"></i></span>
                    <span class="title">Ingredienti</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a th:href="@{/logout}">
                    <span class="icon" title="Logout"><i class="uil uil-signout icona"></i></span>
                    <span class="title">Logout</span>
                </a>
            </li>
        </ul>
    </div>

<!--Main-->
    <div class="main">
        <p class="title">Benvenuto Nella Sezione Administratore</p>
        <div class="containerInner">
            <p class="impostazioni-title" id="Chef">Impostazioni Chef</p>
            <div class="lista-impostazioni">
                <a class="btn-creat" th:href="@{/admin/chef}"><div class="creazione">Aggiungi chef</div></a>
            </div>
                <div class="table">
                    <div class="table-header">
                        <div class="header__item"><a class="filter__link" href="#">Nome Cognome</a></div>
                        <div class="header__item"><a class="filter__link" href="#">Nazionalita</a></div>
                        <div class="header__item"><a class="filter__link" href="#">Buffet</a></div>
                        <div class="header__item"><a class="filter__link" href="#"></a></div>
                    </div>
                    <div class="table-content">
                        <div class="table-row" th:each="chef : ${chefs}">
                            <div class="table-data" th:text="${chef.name} + ' ' + ${chef.lastName} ">Paolo Rossi</div>
                            <div class="table-data" th:text="${chef.nationality}">Ita</div>
                            <div class="table-data" th:each="buffetChef : ${chef.buffets}">
                                <p th:if="${buffetChef}" th:text="${buffetChef.name}">Buffet1</p>
                                <p th:unless="${buffetChef}"> Nessuno </p>
                            </div>
                            <div class="table-data">
                                <a th:href="@{/admin/home}"><div class="btn">Agiungi Buffet</div></a>
                                <a th:href="@{'/chef/update' + '/' + ${chef.id}}"><div class="btn">Modifica</div></a>
                                <a th:href="@{'/chef/delete' + '/' + ${chef.id}}" ><div class="btn">Cancella</div></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="containerInner">
            <p class="impostazioni-title" id="Buffet">Impostazioni Buffet</p>
            <div class="lista-impostazioni">
                <a class="btn-creat" th:href="@{/admin/buffet}"><div class="creazione">Aggiungi Buffet</div></a>
            </div>
            <div class="table">
                <div class="table-header">
                    <div class="header__item"><a class="filter__link" href="#">Nome</a></div>
                    <div class="header__item"><a class="filter__link" href="#">Descrizione</a></div>
                    <div class="header__item"><a class="filter__link" href="#">Chef</a></div>
                    <div class="header__item"><a class="filter__link" href="#">Piatti</a></div>
                    <div class="header__item"><a class="filter__link" href="#"></a></div>
                </div>
                <div class="table-content">
                    <div class="table-row" th:each="buffet : ${buffets}">
                        <div class="table-data" th:text="${buffet.name}">Assaggio Mediterraneo</div>
                        <div class="table-data" th:text="${buffet.description}">Descrizione</div>
                        <div class="table-data" th:text="${buffet.chef}">Chef</div>
                        <div class="table-data" th:each="buffetPiatto : ${buffet.piatti}">
                            <p th:if="${buffetPiatto}" th:text="${buffetPiatto}">Buffet1</p>
                            <p th:unless="${buffetPiatto}"> Nessuno </p>
                        </div>
                        <div class="table-data">
                            <a th:href="@{/admin/home}"><div class="btn">Agiungi Buffet</div></a>
                            <a th:href="@{'/buffet/update' + '/' + ${buffet.id}}"><div class="btn">Modifica</div></a>
                            <a th:href="@{'/buffet/delete' + '/' + ${buffet.id}}" ><div class="btn">Cancella</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <script th:src="@{/js/admin.js}"></script>

</body>
</html>