@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

body{
    min-height: 100vh;
    background: #fff;
    font-family:'Source Sans Pro', sans-serif;
}


.navigation{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 5px solid #8c38ff;
    box-sizing: initial;
    background: #8c38ff;
    transition: width 0.75s ease-in-out;
    overflow-x: hidden;
    z-index: 999;
}

.navigation.active{
    width: 200px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}

.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8c38ff;
    border-bottom-right-radius: 20px;
}

.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
}

.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8c38ff;
    border-top-right-radius: 20px;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
    display: block;
}

.navigation ul li.active {
    background: #fff;
}

.navigation ul li a,
.navigation ul li .menu-btn{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a,
.navigation ul li.active .menu-btn{
    color: #333;
}

.navigation ul li a .icon,
.navigation ul li .menu-btn .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    z-index: 99;
}

.navigation ul li a .icon .icona,
.navigation ul li .menu-btn .icon .icona{
    font-size: 1.5rem;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    cursor: pointer;
}

.toggle .icona.open,
.toggle.active .icona.close{
    display: block;
}

.toggle .icona.close,
.toggle.active .icona.open{
    display: none;
}

.main{
    margin-left: 90px;
    margin-right: 10px;
    transition: all 0.75s ease-in-out;
}

.main.active{
    margin-left: 220px;
}

.main .title{
    margin-top: 30px;
    border-bottom: 2px solid #4A00E0;
    font-size: 40px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 800px){
    .main .title{
        font-size: 30px;
        font-weight: 300;
    }

    .containerInner .impostazioni-title{
        font-size: 20px;
    }
}

.lista-impostazioni{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.btn-creat{
    text-decoration: none;
}


.creazione{
    background: #9053c7;
    margin-left: 60px;
    margin-bottom: 10px;
    color: #fff;
    height: auto;
    width: auto;
    padding: 12px 12px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #552a72;
}

.creazione:hover{
    background: #5d00de;
}



/*---------------------------------------------------------------*/

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 30px 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table a{
    text-decoration: none;
}

table caption {
    font-size: 3em;
    margin: 20px 0 .75em;
}

table caption .lista-impostazioni{
    margin-top: 60px;
    padding: 0;
    font-size: 16px;
}

table thead tr{
    background-color: #000;
    color: #fff;
}

table tr {
    background-color: #fff;;
    padding: .35em;
}

table th,
table td {
    padding: 1em;
    text-align: center;
}

table th {
    font-size: 1.5em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

table tbody tr:nth-of-type(odd){
    background: rgba(117, 49, 189, 0.35);
}

table .bottoni{
    display: flex;
    flex-direction: row;
    max-width: 400px;
    justify-content: left;
    text-align: center;
    overflow-x: scroll;
}

table .bottoni .btn2{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto 8px;

}

table .btn{
    height: auto;
    margin: 10px 6px;
    width: auto;
    padding: 10px 10px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #552a72;
    background: #9053c7;
    color: #fff;
}

table .btn:hover{
    background: #5d00de;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table .bottoni .btn2{
        flex-direction: row;
    }

    table caption {
        font-size: 2em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

















.btn.presente{
    color: #fff;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn.presente:hover{
    color: #313131;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.chef-cor{
    background: rgba(6, 239, 13, 0.35);
    text-align: center;
    border: 1px solid #333;
    width: auto;
    height: auto;
    padding: 5px 5px;
    margin: auto 5px;
    color: #111;
    border-radius: 5px;
}

.chef-cor:hover{
    background: rgba(6, 239, 13, 0.7);
}
