<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/forms.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Buffet Form</title>
</head>
<body>

<div th:replace="fragments/base.html :: intestazione-admin"></div>

<div class="main">
    <p class="title">Form Buffet</p>

    <form class="form" th:action="@{/admin/buffet}" method="POST" th:object="${buffet}">
        <div class="errori" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore</p>
        </div>
        <div class="inputBox" >
            <input type="text" name="name" required th:field="*{name}">
            <span>Name</span>
        </div>
        <div class="inputBox" >
            <textarea type="text" name="description" th:field="*{description}"></textarea>
            <span>Description</span>
        </div>

        <button class="submit-btn">Submit</button>

    </form>

</div>

<script th:src="@{/js/admin.js}"></script>
</body>
</html>