<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Aggiungi Buffet</title>
</head>
<body>
<!--Navigation Menu-->
<div th:replace="fragments/base.html :: intestazione-admin"></div>

<div class="main">

    <p class="title">Aggiungi Buffet</p>

    <table>
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="buffet : ${buffets}">
            <td data-label="Nome" th:text="${buffet.name}">Visa - 3412</td>
            <td data-label="Descrizione" th:text="${buffet.description}">04/01/2016</td>
            <td data-label="">
                <div class="bottoni">
                    <div class="btn2">
                        <a th:if="${!chef.existBuffet(buffet)}"
                           th:href="@{'/chef/addBuffet' + '/' + ${chef.id} + '/' + ${buffet.id}}">
                            <div class="btn">Aggiungi</div></a>
                        <a th:unless="${!chef.existBuffet(buffet)}"
                           th:href="@{'/chef/deleteBuffets' + '/' + ${chef.id} + '/' + ${buffet.id}}">
                            <div class="btn presente">Elimina</div></a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script th:src="@{/js/admin.js}"></script>
</body>
</html>