<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Signika:wght@300&family=Smooch&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="${buffet.name}"> Home</title>
</head>
<body>
<!-- NAVIGATION bar -->
<nav th:replace="fragments/base.html :: intestazione"></nav>

<div class="main intestazione-pg">
        <div class="title-page">
            <span th:text="${buffet.name}">Menu</span>
        </div>
        <div class="title-description">
            <p class="desc">Descrizione:</p>
            <p class="descrizione" th:text="${buffet.description}"></p>
        </div>
        <div class="chef-section">
            <span th:if="${buffet.chef != null}"
                  th:text="'Chef: ' + ${buffet.chef.name} + ' ' + ${buffet.chef.lastName}"></span>
    </div>
</div>

    <div class="main liste" th:if="${!buffet.getPiatti().isEmpty()}">
        <div class="title-menu">Piatti del Buffet</div>
        <div class="container-main">
            <div class="card" th:each="piatto : ${buffet.getPiatti()}">
                <div class="box">
                    <div class="content">
                        <h2 th:text="${piatto.id}">01</h2>
                        <h3 th:text="${piatto.name}">Card One</h3>
                        <p th:text="${piatto.description}"> Lorem ipsum dolor sit amet</p>
                        <p th:if="${!piatto.getIngredienti().isEmpty()}">Ingredienti:</p>
                        <p th:each="ingrediente : ${piatto.getIngredienti()}"
                           th:text="${ingrediente.name}"></p>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- footer -->
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>