<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="#{header.menuUtente}"></title>
</head>
<body>
<nav th:replace="fragments/base.html :: intestazione"></nav>


<footer th:replace="fragments/base.html :: fondo"></footer>

<script type="text/javascript" th:src="@{/js/base.js}"></script>
</body>
</html>