<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="#{header.menuUtente}"></title>
</head>
<body>
<!-- NAVIGATION bar -->
<nav th:replace="fragments/base.html :: intestazione"></nav>


<div class="main">
    <h1 class="main-title">Bookmarks</h1>
    <div class="container-main">
        <div class="card" th:each="bookmark : ${user.bookmarks}">
            <div class="box">
                <div class="content">
                    <h2 th:text="${bookmark.id}">01</h2>
                    <h3 th:text="${bookmark.name}">Card One</h3>
                    <p th:text="${bookmark.description}"> Lorem ipsum dolor sit amet</p>
                    <a class="links" th:href="@{'/buffet' + '/' + ${bookmark.id}}">Read More</a>
                    <a class="links" th:href="@{'/userProfile/deleteBuffet' + '/' + ${bookmark.id}}">Unbookmark</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<footer th:replace="fragments/base.html :: fondo"></footer>

<script type="text/javascript" th:src="@{/js/base.js}"></script>
</body>
</html>