body{
    margin: 0;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #eeeeeebb;
}

.nav-li {
    float: right;
}

.nav-li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li  a:hover:not(.active) {
    background-color: #BBBBBB;
}

.active {
    background-color: #BBBBBB;
}

.nav-button{
    margin-left: 30px;
    margin-top: 5px;
    margin-right: 20px;
    padding: 9px 25px;
    background: #000000;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}

.nav-button:hover{
    background: #BBBBBB;
    color: black;
}

.logo-img{
    height: 150px;
    border-radius: 70%;
    margin-left: 10px;
    position: fixed;
}

.logo-img:after{
    z-index: 1;
}

main{
    margin: 10%;
    background: blue;
    height: 600px;
}