<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Foodie Home</title>
</head>
<body>
<!-- NAVIGATION bar -->
<nav th:replace="fragments/base.html :: intestazione"></nav>


<div class="main">
    <h1 class="main-title">Scopri i nostri Buffet</h1>
    <div class="container-main">
            <div class="card" th:each="buffet : ${buffets}">
                <div class="box">
                    <div class="content">
                        <h2 th:text="${buffet.id}">01</h2>
                        <h3 th:text="${buffet.name}">Card One</h3>
                        <p th:text="${buffet.description}"> Lorem ipsum dolor sit amet</p>
                        <a class="links" th:href="@{'/buffet' + '/' + ${buffet.id}}">Read More</a>
                        <div sec:authorize="isAuthenticated()">
                            <a class="links" th:if="${!user.isBookmarked(buffet)}"
                               th:href="@{'/user/addBuffet' + '/' + ${buffet.id}}">Bookmark</a>
                            <a class="links" th:unless="${!user.isBookmarked(buffet)}"
                               th:href="@{'/userHome/deleteBuffet' + '/' + ${buffet.id}}">Bookmarked</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


<!-- footer -->
<footer th:replace="fragments/base.html :: fondo"></footer>

<script type="text/javascript" th:src="@{/js/base.js}"></script>
</body>
</html>