<!DOCTYPE html>
<html  lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/swiper-import.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Main</title>
</head>
<body>

    <div class="main">
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            
                            <div class="card-image">
                                <img src="../static/images/user-icon.png" alt="chef" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Franco Rossi</h2>
                            <p class="nazionalita">IT</p>

                            <button class="button-chef">View More</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="../static/images/user-icon.png" alt="chef" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Franco Rossi</h2>
                            <p class="nazionalita">IT</p>

                            <button class="button-chef">View More</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="../static/images/user-icon.png" alt="chef" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Franco Rossi</h2>
                            <p class="nazionalita">IT</p>

                            <button class="button-chef">View More</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="../static/images/user-icon.png" alt="chef" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Franco Rossi</h2>
                            <p class="nazionalita">IT</p>

                            <button class="button-chef">View More</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="../static/images/user-icon.png" alt="chef" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Franco Rossi</h2>
                            <p class="nazionalita">IT</p>

                            <button class="button-chef">View More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>


<script src="/js/swiper-import.js"></script>
    <script src="/js/base.js"></script>

</body>
</html>